  
  body{
        margin: 0px;
    }
    

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 30px;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 40px;
   border: 1px solid rgb(255,255,255 ,.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
 font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    font-size: 15px;
    /* font-weight: bold; */
}
#logo{
    width: 50px;
    height: 50px;
    object-fit:fill;
    border-radius: 50%;
}
.navoptions{
       display: flex;
       margin-left: 50px;
       margin-top: 7px;
       gap: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

.navoptions a {
        text-decoration: none;
        transition: color 0.3s;
        color: white;
}
    
.navoptions a:hover 
    {
    color: gray;
}

#profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(26, 24, 24, 0.1);
    transition: transform 0.3s;
   
    
    
}   
.intro{
    
    max-width: 50%;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 40px;

    padding: 20px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);

}
.top{
    position: relative;
    top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro h1{
    animation: fadeSlideLoop 4s ease-in-out infinite;
}
@keyframes fadeSlideLoop {
      0% {
        left: -30px;
        opacity: 0;
      }
      50% {
        left: 0;
        opacity: 1;
      }
      100% {
        left: 30px;
        opacity: 0;
      }
    }
    .section1{
        min-height: 130vh;
          background-image: url(images/computer.jpeg  );
        background-repeat: no-repeat;
        background-size: cover;
    }

   
  

.about {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.6;

  background-color: rgba(5, 23, 47, 0.6); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 


  border-radius: 15px;
margin: auto;
margin-top: 300px;
  padding: 30px;
 
 
 

  max-width: 1000px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
}

.section2{
    margin: 0;
    padding: 0;
    min-height: 100vh;
 background: linear-gradient(to top, #021329 0%, #041A33 100%);
    
}


    .Projects{
        margin: 0;
        color: white;
        font-family: 'Arial', sans-serif;
        font-size: 20px;
         padding: 30px;
         

    }
    .Projects h2{
        text-align: center;
        margin-top: 10%;
        
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       
    }
    .box{
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

    }
    .box:hover{
        transform: scale(1.01);
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
    }
    .box #link{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
.section3
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, #041A33 0%, #021329 100%);
   
}
    .skills{
        margin: 0;
         padding: 30px;
         font-size: 20px;
       


    }
    .skills h2{
        text-align: center;
        margin-top: 10%;
        color: white;

    }
     .wrapper-skills{
       border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  color: white;
       
    }
  .skill-icon{

    height: 120px;
    width:120px;
    margin: 10px;
    object-fit: fill;
    border-radius: 50%;

  }
    .skill-list{
         border: white 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    }

